name: Mostrar lista
on: 
  push:
    branches: [ main] 

jobs: 
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Escribir hora por pantalla
        run: 
          echo "Hola desde el runner de GitHub Actions"